/ProyectoStreaming001/build/
/Sentencias/nbproject/private/
/Sentencias/build/
/Sentencias/dist/
/Sentencias001/nbproject/private/
/Sentencias001/build/
/Sentencias001/dist/
/ClaseString/nbproject/private/
/ClaseString/build/
/ClaseString/dist/
/Colaboracion001/nbproject/private/
/Colaboracion001/build/
/Colaboracion001/dist/
/Experiencia 3 y 4/coleccion001/nbproject/private/
/Experiencia 3 y 4/coleccion001/build/
/Experiencia 3 y 4/coleccion001/dist/
/Experiencia 3 y 4/Scootin001/nbproject/private/
/Experiencia 3 y 4/Scootin002/nbproject/private/
/Experiencia 3 y 4/Scootin001/build/
/Experiencia 3 y 4/Scootin001/dist/
/Experiencia 3 y 4/ListaReproduccion/nbproject/private/
/Experiencia 3 y 4/ListaReproduccion/build/
/Experiencia 3 y 4/ListaReproduccion/dist/
